 @tailwind base;
 @tailwind components;
 @tailwind utilities;

.carrito {
     height: 60px;
 }

 html , body, #root {
    height: 100%;
 }

 #root {
    display: flex;
    flex-direction: column;
 }

 .destino-moto {
   text-align: center;
   margin-top: 20px;
 
   h2 {
     font-size: 24px;
     margin-bottom: 10px;
   }
 
   .descubrir-button {
     background-color: #123abc;
     color: #fff;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.3s ease;
 
     &:hover {
       background-color: #456def;
     }
   }

   .producto-aleatorio {
       display: flex;
       flex-direction: column;
       align-items: center;
   
       h3 {
         font-size: 20px;
         margin-top: 10px;
       }
   
       img {
           max-width: 30%;
           height: auto;
       }
   
       p {
         font-size: 16px;
         margin-top: 10px;
       }
     }
   }


   
.boton-ver-detalle {
   background-color: #000000;
   color: white;
   border: none;
   padding: 8px 16px;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s ease;
 
   &:hover {
     background-color: #0a2d91;
   }
 }
 

 .loader-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 200px;
}

/* ItemListContainer.scss */

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
 
   .detalle-moto {
     background-color: white;
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
     max-width: 80%;
     max-height: 80%;
     overflow-y: auto;
 
     h2 {
       font-size: 24px;
       margin-bottom: 10px;
     }
 
     p {
       font-size: 16px;
       margin-bottom: 10px;
     }
   }
 }
 
 .cerrar {
   background-color: #333;
   color: white;
   border: none;
   padding: 5px 10px;
   border-radius: 5px;
   cursor: pointer;
   margin-top: 10px;
 
   &:hover {
     background-color: #555;
   }
 }
 
 .navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo h1 {
  margin-right: 10px;
}

